.app-content {
  height: calc(100vh-64px);
  width: '100%';
}

.app-minimap {
  bottom: 0;
  right: 0;
  opacity: 0.9;
  position: absolute;
}

.right {
  height: calc(100vh-64px);
}

.x6-widget-stencil {
  /* border-radius: 25px; */
  background-color: white !important;
}

.x6-widget-stencil-title {
  background: white !important;
}

.x6-widget-stencil-group-title {
  background: white !important;
  border-bottom: 1px solid #e8e8e8;
}

.x6-widget-stencil-group-content {
  /* background: #e9eaeb !important; */
}
.ant-layout-sider{
  /* border-top: 1px solid #e8e8e8; */
  /* border-radius: 25px; */
  margin-top: 1px;
  border-right: 1px solid #e8e8e8;
}